<h2 class="mb-3">Account Login</h2>

<form action="/accounts" method="GET">
  <div class="mb-3">
    <input type="email" id="exampleInputEmail1" placeholder="Email address" size="30">
  </div>
  <div class="mb-3">
    <input type="password" id="exampleInputPassword1" placeholder="Password" size="30">
  </div>
  <button type="submit" class="btn btn-dark">Sign in</button>
</form>